.wrapper {
    width: 600px;
    margin: 15px auto;
}
.wrapper a {
    color: #000000;
    text-decoration: none;
}
.header {
    margin: 0 15px;
}
.header a {
    cursor: pointer;
}
.filter_input {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
.todos_list {
    list-style: none;
    margin: 15px;
    padding: 0;
}
.garbage {
    margin: 0 20px;
}

@media (max-width: 768px) {
    .wrapper {
        display: block;
        width: 330px;
    }
    .filter_input {
        display: block;
    }
    .task_form {
        margin: 40px 0;
    }
}